# Fichier d'exemple pour les variables d'environnement du frontend
# Copiez ce fichier en .env.local et remplissez les valeurs appropriées
# Note: Utile pour dév et non prod

NEXT_PUBLIC_API_URL_DEV=http://127.0.0.1:5000   # URL du backend en développement à changer si besoin
NEXT_PUBLIC_PASSWORD=casamur                    # Mot de passe pour accéder à l'application une fois déployée
NEXT_PUBLIC_ENV=dev                             # Environnement d'exécution (prod, dev)
