# ===== DATABASE CONFIG =====
MARIADB_NAME=           # Nom de la base de données à créer
MARIADB_USER=root       # Nom d'utilisateur pour MariaDB (par défaut root)
MARIADB_PASSWORD=       # Défini un mot de passe pour MariaDB
MARIADB_PORT=3306       # Port sur lequel MariaDB écoute (par défaut 3306)

# ===== PHPMYADMIN CONFIG =====
PMA_PASSWORD=           # Défini un mot de passe pour PHPMyAdmin

# ===== BACKEND CONFIG =====
ENV=prod              # Environnement d'exécution (prod, dev)