# Fichier d'exemple pour les variables d'environnement de l'application
# Copiez ce fichier en .env et remplissez les valeurs appropriées
# Note: Utiliser pour la production et pour le dév !

# ===== DATABASE CONFIG =====
MARIADB_NAME=           # Nom de la base de données à créer
MARIADB_USER=root       # Nom d'utilisateur pour MariaDB (par défaut root)
MARIADB_PASSWORD=       # Défini un mot de passe pour MariaDB
MARIADB_PORT=3306       # Port sur lequel MariaDB écoute (par défaut 3306)

# ===== PHPMYADMIN CONFIG =====
PMA_PASSWORD=           # Défini un mot de passe pour PHPMyAdmin

# ===== FRONTEND CONFIG =====
NEXT_PUBLIC_API_URL_PROD=   # Adresse Ip du serveur + port de l'API (normalement :5000)
NEXT_PUBLIC_PASSWORD=       # Défini un mot de passe pour l'application

# ===== METABASE CONFIG =====
NEXT_PUBLIC_METABASE_URL=   # Adresse Ip du serveur + port de Metabase normalement 4000
