# Informations de connexion à la base de données
DB_PASSWORD=            # Mettre le mot de passe de la base de données
DB_HOST=                # Mettre l'adresse de l'hôte de la base de données
DB_PORT=                # Mettre le port de la base de données
DB_NAME=                # Mettre le nom de la base de données
DB_USER=                # Mettre le nom d'utilisateur de la base de données
ENV=                    # Mettre "dev" pour le mode développement, "prod" ou rien pour le mode production