# Fichier d'exemple pour les variables d'environnement du backend
# Copiez ce fichier en .env et remplissez les valeurs appropriées
# Note: Utile pour dév et non prod

DB_HOST=127.0.0.2   # Adresse IP de la base de données dans le réseau Docker
DB_PORT=3306        # Port sur lequel la base de données écoute
DB_PASSWORD=        # Mot de passe pour la bdd à copier de .env global
DB_NAME=            # Nom de la base de données à copier de .env global
DB_USER=root        # Nom d'utilisateur pour la base de données (par défaut root)
ENV=dev             # Environnement d'exécution (prod, dev)