# Noms des fichiers requis
CSV_CLUB=détails club.csv
CSV_ABO=détails TYPAB.csv
CSV_STATUS=détails SP.csv
CSV_GRIMPEUR=Grimpeur.csv
CSV_SEANCE=Séance.csv

# Noms des bases de données créés par le script
PATH_SQL=data_base.sql
PATH_DB=data_base.db

# Choix de l'année minimale pour l'extraction des séances
ANNEE_MIN_SEANCE_EXTRACT=2022

# Informations de connexion à la nouvelle base de données MariaDB
DB_NAME=                # DB_NAME stocké dans le .env global
DB_USER=                # DB_USER stocké dans le .env global
DB_PASSWORD=            # DB_PASSWORD stocké dans le .env global
DB_PORT=                # DB_PORT stocké dans le .env global
DB_HOST=                # Ip du serveur (de l'endroit où le script est exécuté)